@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono-VariableFont_wght.ttf");
}
body{
    background-color:white;
}
h2{
    font-size: 96px;
    font-family: "Roboto Mono";
}
.slider {
    background-color:black;
    width:20px;
    height:20px;
    border-radius:10px;
    font-family: "RobotoMono", 'Times New Roman', Times, serif;
	
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.text {
    text-align: center;
    font-size: 12vw;
    margin: 5% auto;
    font-family: "RobotoMono", 'Times New Roman', Times, serif;		
}
.currant{
    text-align: center;
    font-size: 3vw;
    margin: 6% auto;
    font-family: "RobotoMono", 'Times New Roman', Times, serif;
    font-weight: 200;
}
