body{
    background-color:white;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
}
header{
    margin: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.main{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider {
    background-color:white;
    width:20px;
    height:20px;
    border-radius:10px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 3px solid black;
    box-sizing: border-box;
}
.text {
    position:absolute;
    bottom: 0;
    display:none;
    text-align: center;
    font-size: 12vw;
    margin: 5% auto;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    left:0;
    right:0;
    top:0;
    text-align:center;
    mix-blend-mode: difference;
}
#affiche {
    position: absolute;
    display:block;
    text-align:center;
    text-align: center;
    font-size: 12vw;
    margin: 5% auto;
    bottom: 0;
    top:0;
    left:0;
    right:0;
    text-align:center;
    transition:.5s;
    transition-property:opacity;

}
.currant{
    text-align: center;
    font-size: clamp(1em, 3vw, 3em);
    margin: 6% auto;
    font-weight: 200;
}

/*headers*/
.header {
    display: none;
}

/*menu*/
.niveaucard{ 
    text-align: center; 
}
.elementmenu{
    width: 30%;
    height: 100px;
    margin: 2% auto;
    min-width: 140px;
}
.containermenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    max-height: 80%;
}

/*score*/
.containerscore{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
    max-height: 80%;
}
.elementscore{
    display: flex;
    justify-content: space-between;
    width:100%;
    color: black;
    max-width: 600px;
    margin: 0 auto;
}

/*settings*/
.settingssize{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 33%;  
}
.containersettings{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    max-height: 80%;
}
.aligncenter{
    text-align: center;
    font-size: clamp(12px, 1.5vw, 24px);
    margin: 0;
}
.alignleft{
    text-justify: left;
    margin: auto 0;
}
.alignright{
    text-justify: right;
    margin: auto 0;
}
.elementsettings{
    display: flex;
    justify-content: space-between;
    width:100%;
    color: black;
    margin: 3% auto;
    height: 40px;
}

/*styling input*/
input[type=range] {
    height: 24px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 60%;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #000000;
    border-radius: 9px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 3px solid #00001E;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #000000;
    border-radius: 9px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000031;
    border: 3px solid #00001E;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 0px solid #010101;
    border-radius: 18px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 0px solid #010101;
    border-radius: 18px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000031;
    border: 3px solid #00001E;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #000000;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #000000;
  }
  
/*fontfaces*/
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
    font-family: "RobotoMono";
    src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoMono-Italic";
    src: url("fonts/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Compressa";
    src: url("fonts/Compressa-MICRO-GX-It.ttf") format("truetype");
}
@font-face {
    font-family: "EBGaramond-VariableFont_wght";
    src: url("fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family:"GTFlexa" ;
    src: url("fonts/GT\ Flexa\ VAR\ Trial.ttf") format("truetype");
}
@font-face {
    font-family: "Hagrid-Variable-trial";
    src: url("fonts/Hagrid-Variable-trial.ttf") format("truetype");
}
@font-face {
    font-family: "InterVar";
    src: url("fonts/Inter-VariableFont_slnt\,wght.ttf" format("truetype"));
}
@font-face {
    font-family: "Minerale-variable-TRIAL";
    src: url("fonts/Minerale-variable-TRIAL.ttf") format("truetype");
}
@font-face {
    font-family:"Quicksand-VariableFont_wght";
    src: url("fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Blacker-Sans-Variable-trial";
    src: url("fonts/Blacker-Sans-Variable-trial.ttf") format("truetype");
}
